body {
    font-family: 'PT Sans', sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}

.header {
    height: 65px;
    background-color: #243B93;
    background-size: contain;
    position: sticky;
    margin: 0 auto;
    top: 0;
    z-index: 5;
}

.banner {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.img-logo {
    position: absolute;
    height: 50px;
    left: 17px;
    top: 7px;
}

.menu {
    width: 60%;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    text-align: center;
    vertical-align: 100%;
    position: absolute;
    list-style: none;
}

.globe {
    position: absolute;
    right: 70px;
    top: 6px;
}

.ua {
    position: absolute;
    vertical-align: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    right: 17px;
    top: 9px;
}

.topic {
    background-color: #BFF0FF;
    height: 85px;
    position: relative;
    overflow: hidden;
}

.topic-content {
    font-weight: 400;
    font-style: italic;
    font-size: 44px;
    color: #202846;
    position: absolute;
    left: 2%;
    bottom: 20%;
}

.location {
    background-color: #ffffff;
    height: 57px;
    width: 67vw;
    margin: 5vh 15vw;
    position: relative;
    overflow: hidden;
}

.location-content {
    font-weight: 400;
    font-size: 28px;
    color: #000000;
    position: absolute;
    text-align: center;
    left: 25%;
    right: 25%;
    bottom: 20%;
}

.arrow {
    position: absolute;
    right: 2%;
    bottom: 25%;
}

.card-all {
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    height: 230px;
    width: 67vw;
    margin: 5vh 15vw;
    position: relative;
    display: flex;
    align-items: center;
}

.card-all:hover {
    background: #2CBDEB 100%;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}

.card-all:hover path {
    fill: #FFF500;
}

.card-all:hover .details {
    background: #EF075B;
}

.card-image {
    width: 350px;
    left: 4%;
    bottom: 7%;
    padding: 0px 17px;
}
.card-other {
    height: 200px;
    width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.card-title {
    font-weight: 700;
    font-style: italic;
    font-size: 23px;
    color: #353C57;
}

.line {
    border-bottom: 3px solid #ffffff;
    width: 100%;
}

.card-description {
    background-color: #EDFBFF;
    width: 100%;
    margin: 10px 0px 0px 0px;
}

.card-content {
    font-weight: 400;
    font-size: 15px;
    color: #202846;
    padding: 2% 2% 7% 2%;
}

.star {
    position: absolute;
    left: 95%;
    bottom: 86%;
}

.details {
    position: absolute;
    display: flex;
    background: #243B93;
    border-radius: 30px;
    width: 17%;
    height: 12%;
    left: 88%;
    top: 84%;
    overflow: hidden;
}

.details-content {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    padding: 2% 23%;
}

.button-up {
    position: fixed;
    width: 90px;
    height: 90px;
    border-radius: 70px;
    left: 81%;
    top: 84%;
    background: rgba(48, 12, 106, 0.3);
}

.arrow-up {
    position: absolute;
    padding: 23% 37%;
}

.personal-office {
    height: 70px;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    background-size: contain;
    position: relative;
    margin: 0 auto;
}

.personal-office-content {
    font-weight: 400;
    font-style: italic;
    font-size: 35px;
    color: #243B93;
    position: absolute;
    text-align: center;
    left: 15%;
    top: 10%;
}

.personal-data {
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    height: 480px;
    width: 67vw;
    margin: 5vh 15vw;
    position: relative;
}

.personal-image {
    position: absolute;
    width: 196px;
    left: 8%;
    top: 8%;
}

.change-foto {
    position: absolute;
    display: flex;
    background: #243B93;
    border-radius: 30px;
    width: 28%;
    height: 7%;
    left: 6%;
    top: 55%;
    overflow: hidden;
}

.change-foto-content {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    padding: 2% 23%;
}

.settings {
    position: absolute;
    display: flex;
    background: #243B93;
    border-radius: 30px;
    width: 28%;
    height: 7%;
    left: 6%;
    top: 68%;
    overflow: hidden;
}

.settings-content {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    padding: 2% 27%;
}

.change-foto:hover {
    background: #EF075B;
}

.settings:hover {
    background: #EF075B;
}

.data1 {
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
    color: #353C57;
    position: absolute;
    text-align: center;
    left: 41%;
    top: 12%;
}

.line-data1 {
    border-bottom: 3px solid #ffffff;
    position: absolute;
    width: 56%;
    top: 23%;
    left: 41%;
}

.data2 {
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
    color: #353C57;
    position: absolute;
    text-align: center;
    left: 41%;
    top: 29%;
}

.data-response {
    font-weight: 400;
}

.line-data2 {
    border-bottom: 3px solid #ffffff;
    position: absolute;
    width: 56%;
    top: 41%;
    left: 41%;
}

.data3 {
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
    color: #353C57;
    position: absolute;
    text-align: center;
    left: 41%;
    top: 47%;
}

.line-data3 {
    border-bottom: 3px solid #ffffff;
    position: absolute;
    width: 56%;
    top: 59%;
    left: 41%;
}

.data4 {
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
    color: #353C57;
    position: absolute;
    text-align: center;
    left: 41%;
    top: 65%;
}

.line-data4 {
    border-bottom: 3px solid #ffffff;
    position: absolute;
    width: 56%;
    top: 77%;
    left: 41%;
}

.data5 {
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
    color: #353C57;
    position: absolute;
    text-align: center;
    left: 41%;
    top: 81%;
}

.exit {
    position: relative;
    background: #243B93;
    border-radius: 30px;
    width: 174px;
    height: 40px;
    left: 43%;
    top: 68%;
    overflow: hidden;
    margin: 0px 0px 26px 0px;
}

.exit-content {
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    padding: 4% 32%;
}

.exit:hover {
    background: #EF075B;
}

.contacts {
    height: 70px;
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    background-size: contain;
    position: relative;
    margin: 0 auto;
}

.contacts-content {
    font-weight: 400;
    font-style: italic;
    font-size: 35px;
    color: #243B93;
    position: absolute;
    text-align: center;
    left: 15%;
    top: 10%;
}

.contacts-block {
    width: 450px;
    height: 190px;
    position: relative;
    top: 18%;
    left: 15%;
}

.phone-content {
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    position: absolute;
    padding: 8px 0px;
}

.line-phone {
    border-bottom: 3px solid #202846;
    position: absolute;
    width: 37%;
    top: 23%;
    left: 0%;
}

.phone-number {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    position: absolute;
    padding: 8px 0px;
    top: 24%;
}

.address-content {
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    position: absolute;
    padding: 8px 0px;
    top: 50%;
}

.line-address {
    border-bottom: 3px solid #202846;
    position: absolute;
    width: 55%;
    top: 73%;
    left: 0%;
}

.address-data {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    position: absolute;
    padding: 8px 0px;
    top: 74%;
}

.email-content {
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    position: absolute;
    padding: 8px 0px;
    left: 60%;
}

.line-email {
    border-bottom: 3px solid #202846;
    position: absolute;
    width: 37%;
    top: 23%;
    left: 60%;
}

.email-data {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    position: absolute;
    padding: 8px 0px;
    top: 24%;
    left: 60%;
}
.map-image {
    
}
.map {
    position: relative;
    display: flex;
    width: 430px;
    height: 190px;
    left: 100%;
    border: 3px solid #243B93;
    border-radius: 40px;
    margin: 5px 5px;
}
.footer {
    height: 50px;
    background: #243B93;
    background-size: contain;
    position: relative;
    bottom: 0%;
    margin: 12px 0px 0px 0px;
}

.footer-content {
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    text-align: center;
    padding: 15px 0px;
    left: 15%;
}