:root {
    --color-black: #292B2E;
    --p: 30px;
    --orange: #FFB742;
    --white: #FFFFFF;
    --cream: #D5D5D5;
    --white-footer: #D4D4D4;
    --white-footer2: #F5FBF2;
    --grey-footer: #7B7B7B;
    --black: #212529;
    --darker-orange: rgba(255, 123, 66, 0.76);
    --grey: rgba(255, 255, 255, 0.08);
    --grey-table: #383E45;
    --total-black: #000000;
    --black-footer: #1C1C1C;
}

body {
    background-color: var(--black);
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.header {
    width: 94%;
    height: calc(var(--p) + 36px);
    margin: 3px 3%;
    padding: 3px 0px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
}

.menu {
    width: 32%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu-content {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.menu-content:hover {
    color: var(--orange);
}

.hire {
    width: 120px;
    min-height: 54px;
    border-radius: 50px;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hire-content {
    font-weight: 700;
    font-size: 18px;
    color: var(--black);
    text-align: center;
}

.person {
    width: 71%;
    height: 458px;
    margin: 70px 14.5%;
    position: relative;
}

.greeting1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.name {
    color: var(--orange);
    text-decoration: underline;
}

.greeting2 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    padding: 7px 0px;
    box-sizing: border-box;
}

.greeting3 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    margin: 25px 0px;
}

.avatar {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 37%;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 180px 4%;
    position: relative;
}

.card {
    width: 32%;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--p) - 2px) var(--p);
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.card-content>div:first-child {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--orange)
}

.card-content>div:last-child {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white)
}

.card:hover {
    background: linear-gradient(94.3deg, var(--orange) 0%, var(--darker-orange) 99.33%);
}

.card:hover div {
    color: var(--black);
}

.about {
    width: 96%;
    height: 630px;
    margin: 10px 2%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.foto {
    width: 45%;
    margin: 14px 2px;
}

.about-content {
    width: 49%;
    height: 396px;
    margin: 0px 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.who-i-am {
    width: 148px;
    min-height: 42px;
    background: var(--grey);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.who-i-am-content {
    font-weight: 600;
    font-size: 20px;
    color: var(--orange);
}

.about-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    color: var(--white);
}

.about-description {
    font-weight: 400;
    font-size: 16px;
    color: var(--cream);
    margin: var(--p) 3px calc(var(--p) + 50px) 3px;
}

.skills {
    width: 96%;
    height: 360px;
    margin: 10px 2% 130px 2%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.skills-content {
    width: 46%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.my-skills {
    width: 148px;
    min-height: 42px;
    background: var(--grey);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.my-skills-content {
    font-weight: 600;
    font-size: 20px;
    color: var(--orange);
}

.skills-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    color: var(--white);
}

.skills-description {
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
    margin: var(--p) 0px calc(var(--p) + 30px) 0px;
}

.skills-table {
    width: 46%;
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.skills-item {
    width: 80px;
    height: 80px;
    background-color: var(--grey-table);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.works {
    width: 94%;
    height: 1110px;
    margin: calc(var(--p) + 50px) 3% calc(var(--p) + 30px) 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.my-works {
    width: 160px;
    min-height: 42px;
    background: var(--grey);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.my-works-content {
    font-weight: 600;
    font-size: 20px;
    color: var(--orange);
}

.works-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: var(--white);
}

.works-menu {
    width: 52%;
    height: 40px;
    margin: var(--p) 24%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.works-menu-item {
    height: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.works-menu-item:hover {
    background-color: var(--orange);
    border-radius: 3px;
}

.item-content {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: var(--white);
}

.works-menu-item:hover .item-content {
    color: var(--black)
}

.works-examples {
    width: 100%;
    height: 76%;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.references {
    width: 96%;
    height: 640px;
    margin: 10px 2% 250px 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.testimonials {
    width: 192px;
    min-height: 42px;
    background: var(--grey);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.testimonials-content {
    font-weight: 600;
    font-size: 20px;
    color: var(--orange);
}

.ref-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 39px;
    text-align: center;
    color: var(--white);
    margin: 9px 0px 90px 0px;
}

.opinions {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}

.opinion-card {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: var(--p) calc(var(--p) + 10px) var(--p) var(--p);
    box-sizing: border-box;
    background-color: var(--white);
    border-radius: 8px;
    overflow: hidden;
}

.stars {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.opinion-content-block {
    width: 100%;
}

.opinion-content {
    font-weight: 400;
    font-size: 20px;
    color: var(--total-black);
}

.customer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.customer-info {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}

.customer-info>div:first-child {
    font-weight: 700;
    font-size: 20px;
    color: var(--total-black);
}

.customer-info>div:last-child {
    font-weight: 400;
    font-size: 16px;
    color: var(--total-black);
}

.footer {
    width: 100%;
    height: 470px;
    background-color: var(--black-footer);
    display: flex;
    justify-content: space-between;
    padding: 10% 4%;
    box-sizing: border-box;
    position: relative;
}

.footer-column1>div:first-child {
    font-weight: 700;
    font-size: 32px;
    color: var(--orange);
}

.footer-column1>div:last-child {
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    color: var(--white-footer);
    margin: 10px 0px;
}

.footer-column>div:first-child {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 21.5865px;
    color: var(--white-footer2);
}

.links {
    list-style: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 17.9888px;
    color: var(--grey-footer);
}

.link:hover {
    color: var(--orange);
}

.column4-row {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 17.9888px;
    color: var(--grey-footer);
    margin: 7px 0px 0px 0px;
}