:root {
    --white-background: #E5E5E5;
    --black-text: #171717;
    --red-text: #D83933;
    --white-form: #FFFFFF;
    --white-border: #ADADAD;
    --grey-readonly: #EFEFEF;
    --pink: #FF00FF;
    --grey-line: #D1D1D1;
    --blue: #0050D8;
    --white-text: #ffffff;



}

body {
    background-color: var(--white-background);
    font-family: 'Public Sans';
    padding: 50px 3% 10px 3%;
    margin: 0% auto;
    box-sizing: border-box;
}

h1 {
    margin: 0px 0px 50px 0px;
    font-weight: 700;
    font-size: 20px;
    color: var(--black-text);
}

.note {
    font-weight: 400;
    font-size: 14px;
    color: var(--black-text);
}

.star {
    color: var(--red-text)
}

h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--black-text);
    margin: 25px 0px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row>div {
    width: 47%;
}

.question {
    font-weight: 500;
    font-size: 16px;
    color: var(--black-text);
}

.question-red {
    color: var(--red-text);
}

select {
    width: 100%;
    background: var(--white-form);
    border-radius: 4px;
    margin: 8px 0px;
    font-weight: 400px;
    font-size: 16px;
    color: var(--black-text);
    padding: 9px 10px;
}

input {
    width: 100%;
    background: var(--white-form);
    border-radius: 4px;
    margin: 8px 0px;
    font-weight: 400;
    font-size: 16px;
    color: var(--black-text);
    padding: 9px 10px;
    box-sizing: border-box;
}

input[readonly] {
    background-color: var(--grey-readonly);
}


#es-date {
    text-align: center;
}

.list {
    background-image: url(../img/list.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 97%;
}

#add-information {
    text-align: center;
}

.check {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    margin: 20px 0px 0px 0px;
}

input#purged {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.purged-text {
    font-weight: 400;
    font-size: 16px;
    color: var(--black-text);

}

.purged {
    padding: 12px 0px;
}

.optional {
    font-size: 14px;
}

#fee-date {
    text-align: center;
}

input.ch-pink {
    display: none;
}

input.ch-pink+label {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 2px;
}

#check-pink:checked+label {
    background-color: var(--pink);
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.check-text {
    padding-left: 30px;
}

.line {
    border-bottom: 2px solid var(--grey-line);
    width: 96%;
    margin: 14px auto;
}

input#services-unborn {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.services-unborn-text {
    font-weight: 400;
    font-size: 16px;
    color: var(--black-text);

}

.services-unborn {
    padding: 12px 0px;
}

.search {
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 95%;
}

#owner {
    color: var(--blue);
}

.next {
    width: 69px;
    height: 40px;
    background-color: var(--blue);
    border-radius: 4px;
    margin: 5px 0% 6px 7px;
    position: relative;
    left: 95%;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--white-text);
}